h1 {font-family: 'Suranna', serif;
    font-size: 30px;
    font-weight: 100;
    padding: 6px; 
}

a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}


/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 250px; 
    position: fixed;
    z-index: 1; 
    top: 100; 
    left: 0;
    background-color: white; 
    overflow-x: hidden; 
    padding-top: 20px;
  }
  
  /* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
  }
.sidenav a:hover {color: pink;}


/* Style page content */
img {
  height: 85%; 
    width: auto; 
    top: 0; 
    position: fixed;
    padding-top: 35px;
    padding-left: 250px;
 }

.text {
  padding-top: 10px;
  padding-left: 250px;
  padding-right: 100px;
}

.text a:hover {
  color: pink;
}

div.gallery img {
  padding-top: 100px;
  padding-left: 250px;
  width: 55%;
  height: auto;
}

.responsive {
  padding: 6px;
  float: left;
  width: 33.3%;
}

